.my-style {
  background-color: #F3D0D7;
  color: #FFEFEF;
  border: 3px dotted #000;/*comments*/
}

#my-id {
  background-color: #526D82;
  color: #27374D;
  border: 3px solid #000;
}

p {
  background-color: #F8D082;
  color: #640D6B;
}

h1 {
  color: #000
}
